<div class={["Mapbutton w-[60px] h-[60px]", @class]}>
    <div class="Rectangle47 w-[60px] h-[60px] left-0 top-0 absolute bg-gradient-to-b from-white via-zinc-300 to-stone-300 rounded-[5px] border border-black"></div>
    <div class="Mapicon w-[38px] h-[38px] left-[11px] top-[11px] absolute justify-center items-center inline-flex">
        <img class="Rectangle101 w-[38px] h-[38px]" src="/images/map_icon.webp" />
    </div>
</div>
