<div class="flex items-center justify-center">
  <span class="text-dark-20 text-[12px] font-metropolis-regular font-semibold">
    <%= "+#{@energy_state.energy_regen} " %>
  </span>
  <div class="w-[14px] h-[15px]"><.energy_svg /></div>
  <span class="text-dark-20 text-[12px] font-metropolis-regular font-semibold">next turn</span>
</div>
