<div class="flex items-center justify-center">
    <span class="text-black text-xs">+2</span>
    <img src="/images/energy.png" class="w-[14px] h-[15px] ml-2">
    <span class="text-black text-[13px] ml-2">next turn</span>
</div>
