<!--<.action_badge bg_color="bg-black" class="min-w-[60px] h-20 w-60">-->
<!--    <span class="font-jotione-regular rounded-lg w-4/5 text-red-500 text-3xl ">12d:48h:12s</span>-->
<!--</.action_badge>-->

<.action_badge bg_color="bg-gun-powder" class="aspect-square min-w-[60px] w-[6vw] md:w-[6vw]">
    <div class="absolute flex flex-row justify-center">
        <img class="aspect-square w-3/4 h-3/4" alt="experience badge" src="/images/swords.png"/>
    </div>
</.action_badge>



