<%
style_outer = "width: #{@width}; height: #{@height}"
%>
<div class={["p-[2px] rounded-[6px]", @bg_outer]} style={style_outer}>
    <div class={["relative w-full h-full border-[1px] rounded-[5px]", @bg_inner, @border_color]}>
        <div class={["absolute bottom-[6px] left-[6px] w-[5px] aspect-square rounded-full border", @ring_border_color]}></div>
        <%= render_slot(@inner_block) %>
    </div>
</div>
