<div class={[
  "min-w-[50px] md:w-[5vw]",
  "aspect-square rounded-xl text-center text-[1rem]",
  "bg-transparent backdrop-sepia border-[0.19rem] border-gun-powder",
  @class
]}>
  <div class="h-full flex flex-row justify-center items-center">
    <.icon name="hero-plus-bold" class="w-full h-full" />
  </div>
</div>
