<.link navigate="/player_screen">
    <.action_badge bg_color="bg-gun-powder" class="aspect-square min-w-[60px] w-[6vw] select-none">
    <div class="absolute flex flex-row justify-center">
        <img class="aspect-square w-3/4 h-3/4" alt="experience badge" src="/images/star.png"/>
    </div>
    <div class="absolute">
        <span class="aspect-square font-jotione-regular text-white text-xl xl:text-3xl face-screen-stroke">50</span>
    </div>
    </.action_badge>
</.link>
