<.link navigate="/player_screen">
  <.action_badge
    bg_color="bg-golden-glow"
    class="aspect-square min-w-[40px] w-[2vw] md:w-[6vw] select-none"
  >
    <div class="absolute flex flex-row ">
      <img
        class="aspect-square w-full "
        alt="experience badge"
        src="/images/female-character-avatar.webp"
      />
    </div>
  </.action_badge>
</.link>
