<div class="relative rounded-[12px] w-[350px] h-[30px] border-[1.5px] border-black bg-transparent">
    <!--    reflection-->
    <div class={["absolute top-[5%] left-[2%] bg-transparent opacity-70 z-10 h-1/2 w-[96%] rounded-[10px] bg-gradient-to-b from-white to-transparent"]}></div>
    <div class={["relative rounded-[10px] h-full bg-red-500"]} style={"width: #{5 + 95/100 * @percentage}%"}]}>
        <div class="z-10 absolute left-[15%] -top-[60%] font-jotione-regular text-white text-3xl face-screen-stroke">
            <%= @current %>/<%= @max %>
        </div>
    </div>
</div>
