<.action_badge bg_color="bg-gun-powder" class="aspect-square min-w-[60px] w-[6vw] md:w-[6vw]">
  <div class="absolute flex flex-row justify-center">
    <img class="aspect-square w-3/4 h-3/4" alt="map badge" src="/images/map_icon.webp" />
  </div>
</.action_badge>
