<div class="flex bg-golden-glow w-[80px] h-[80px] border-[2px] border-white rounded-xl text-[0.5rem]">
  <div class="flex flex-col m-auto">
    <p><%= @user_character_bonuses.nickname %></p>
    <p>Max HP: <%= @user_character_bonuses.health_bonus %></p>
    <p>Attack: <%= @user_character_bonuses.attack_bonus %></p>
    <p>Defense: <%= @user_character_bonuses.defence_bonus %></p>
    <p>Attack range: <%= @user_character_bonuses.range_bonus %></p>
  </div>
</div>
