<div class="Property1Default w-[170px] h-[50px] relative shadow">
    <div class="Rectangle47 w-[170px] h-[50px] mx-auto top-0 absolute bg-blue-20 rounded-md"></div>
    <div class="Rectangle125 w-[165.34px] h-[44.87px] mx-auto top-[2.56px] absolute rounded-[5px] border border-beige-10"></div>
    <div class="ButtonText left-[43px] top-[17px] absolute text-center text-white text-sm font-semibold font-['Rubik'] tracking-tight">Button text</div>
</div>
